################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApi-Recoleccion-residuos-Domesticos/FileContentIndex
